/* 
--black: #000000;
--green-blue: #212F33;
--green-blue-soft: #415B63;
--blue: #84B9C9;
--blue-soft: #A5E8FC;
--white: #FFFFFF; */
@import "./root.css";

body{
    background-color: var(--green-blue);
}
/* Heroes Section */
.section-heroes{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Heroes content */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .section-heroes .hero-text img{
    width: 320px;
  }
  